<div class="row mt-5 mb-4">
  <div class="col">This is a simple app developed for the AGL coding challenge. It can be used to filter pets by type and sort them alphabetically.</div>
</div>

<div class="row my-4">
  <div class="col">Show me all
    <select (change)="onPetTypeChange($event)">
      <option [value]="'Cat'">cats
      </option>
      <option [value]="'Dog'">dogs
      </option>
      <option [value]="'Fish'">fishes
      </option>
    </select>
    in
    <select (change)="onSortOrderChange($event)">
      <option [value]="'asc'">ascending
      </option>
      <option [value]="'desc'">descending
      </option>
    </select>
    order</div>
  <br>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div>Pet {{petType | lowercase}} owned by Males</div>
        <div *ngIf="isLoading; else malePetsList" class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <ng-template #malePetsList>
          <li *ngFor="let pet of maleOwnedPets | petFilter: petType | petSort: sortOrder">
            {{pet.name}} | {{pet.type}}
          </li>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div>Pet {{petType | lowercase}} owned by Females</div>
        <div *ngIf="isLoading; else femalePetsList" class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <ng-template #femalePetsList>
          <li *ngFor="let pet of femaleOwnedPets | petFilter: petType | petSort: sortOrder">
            {{pet.name}} | {{pet.type}}
          </li>
        </ng-template>
      </div>
    </div>
  </div>
</div>
